// If you want to override materialize sass variables you can uncomment the following:
@import "{poetic:materialize-scss}/sass/components/_color.scss";
$primary-color: color("blue", "lighten-2");

@import "{poetic:materialize-scss}/sass/materialize.scss";
